
@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../vendor/fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
         url("../vendor/fonts/Inter-Regular.woff?v=3.15") format("woff");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("../../vendor/fonts/Inter-Black.woff2?v=3.15") format("woff2"),
         url("../../vendor/fonts/Inter-Black.woff?v=3.15") format("woff");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../vendor/fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
         url("../../vendor/fonts/Inter-Bold.woff?v=3.15") format("woff");
}

.page{
    width: 100%;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    background: #2A2C2F;
    color: #fff;
    box-sizing: border-box;
}
