.places {
    margin: 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 92px;
    padding-top: 0;
}



@media screen and (max-width: 1024px){
    .places {
        padding-left: calc(48px - (1024px - 100vw)/10.66666);
        padding-right: calc(48px - (1024px - 100vw)/10.66666);
    }
}

@media screen and (max-width: 768px){
    .places {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 320px){
    .places {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 64px;
    }
}