.cover__title {
    grid-row: 1;
    grid-column: 1;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    text-align: center;
    margin: 0;
    z-index: 1;
}

@media screen and (max-width: 768px){
    .cover__title {
        font-size: calc(72px - (768px - 100vw)/11.2);
        line-height: calc(76px - (768px - 100vw)/10.9268);
    }
}

@media screen and (max-width: 320px){
    .cover__subtitle {
        padding-left: 16px;
        padding-right: 16px;
    }
}
